logs/*

clash/Country.mmdb
clash/cache.db

debugger/

lazygit/state.yml

bin/linux/clangd_14.0.3
bin/linux/clangd
bin/linux/clangd-linux-14.0.3.zip
bin/linux/tmux
bin/linux/tmux
bin/linux/tmux
vim/sessions
vim/.netrwhist
bin/linux/bsadmin
